name: dummy
permissions:
  contents: read
  checks: write
on:
  push:
    branches: [main]
  pull_request:
jobs:
  verify:
    if: true
    name: dummy
    uses: ./.github/workflows/rust.yml
    secrets: inherit
    with:
      runner: ${{ vars.RUNNER }}
